html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #292A2D;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.375rem;}
h4 { font-size: 1.125rem;}
h5 { font-size: 1rem;}
h6 { font-size: 0.875rem;}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #8AB4F8;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
    text-align: center;
  }